<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jpico url{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/global.css">
    <script defer src="/static/app.js"></script>
</head>
<body{% block body_attrs %}{% endblock %}>
    {% include "components/navbar.html" %}

    {% block content %}{% endblock %}

    {% include "components/footer.html" %}
</body>
</html>
